<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid  d-flex justify-content-between">
    <a class="navbar-brand fw-bold" href="#">Authentication</a>
    
      <div >
        <a class="active text-light me-3 fw-bold" aria-current="page" href="/login"
          >Signin</a
        >
        <a class="active text-light me-3 fw-bold" aria-current="page" href="/signup"
          >Signup</a
        >
        
      </div>
    </div>
  </div>
</nav>
